$color-first-dark: #e31b6d;
$color-title-dark: #161013;
$color-home-light: #141622;
$color-home-dark: #12141f;
$color-white: #fff;
$color-black: #000;
$color-offwhite: rgb(247, 248, 245);
$color-primary-light: #54aafa;
$color-primary-dark: #1c0f88;
$color-secondary-light: #9dc88d;
$color-secondary-medium: #438b44;
$color-secondary-dark: #053a31;;
