@import 'abstracts/variables';

.notfound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background-color: $color-offwhite;
  height: 100vh;
}
