@import 'abstracts/variables';
@import './base/mixins';

.notfound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background-color: $color-offwhite;
  height: 100vh;
  text-align: center;

  @include responsive(tab-port) {
    font-size: 2rem;
  }

}
